<h1>Créer un Pokémon</h1>
<form [formGroup]="pokemon" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">Nom:</label>
    <input id="name" formControlName="name" />
  </div>

  <div>
    <label for="description">Description:</label>
    <textarea id="description" formControlName="description"></textarea>
  </div>

  <div>
    <label>Types:</label>
     @for (control of types.controls; track control) {
        <p>
            <label [for]="'types' + $index">types {{$index + 1}}</label>
            <input [id]="'types' + $index" [formControlName]="$index">
          </p>
        }
    <button type="button" (click)="addType('')">Ajouter un type</button>
  </div>

  <div formArrayName="attacks">
    <h3>Attaques:</h3>
   @for (attack of attacks.controls; track attack) {
      <div>
        <label for="attack-name">Nom de l'attaque:</label>
        <input id="attack-name" formControlName="name" />
      </div>
    }
      <div>
        <label for="attack-description">Description:</label>
        <textarea id="attack-description" formControlName="description"></textarea>
      </div>

      <div>
        <label for="attack-damage">Dégâts:</label>
        <input id="attack-damage" formControlName="damage" type="number" />
      </div>

      <!-- <button type="button" (click)="removeAttack()">Supprimer cette attaque</button> -->
    </div>
    <button type="button" (click)="addAttack()">Ajouter une attaque</button>
  

  <div formGroupName="zone">
    <h3>Zone:</h3>
    <div>
      <label for="zone-name">Nom de la zone:</label>
      <input id="zone-name" formControlName="name" />
    </div>

    <div>
      <label for="zone-region">Région:</label>
      <input id="zone-region" formControlName="region" />
    </div>
  </div>

  <button type="submit">Créer Pokémon</button>
</form>
